@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
}

html {
  height: 100%;
  background-color: #F8FAFC
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}